/.gitkeep
/character_card_v2
/character_card_v2.7z.001
/character_card_v2.7z.002
/character_card_v2.7z.003
/character_card_v2.7z.004
/character_card_v2_lorebooks
/character_results
/chromadb
/data.json
/format_characters.py
/format_lorebooks.py
/lorebook_results
/processed_ids
/scrape-characters.py
/scrape-lorebooks.py
/tag_density.json
/tag_density.py
/tag_density.txt
/token
/_failed_character_results